<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>{{'impwallc.title' | t}}</h2>

    <div class="uk-card uk-card-default uk-margin" *ngIf="activePanel == 'error'">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'impwallc.bad-data' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <p>{{'impwallc.bad-data-msg' | t}}</p>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="activePanel == 'import'">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'impwallc.pwd-confirm' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <p>{{'impwallc.pwd-confirm-msg' | t}}</p>
        <div uk-grid>
          <div class="uk-width-1-1">
            <input class="uk-input" [(ngModel)]="walletPassword" placeholder="{{'impwallc.pwd-placeholder' | t}}" type="password">
          </div>
        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="decryptWallet()" class="uk-button uk-button-secondary">{{'impwallc.import-button' | t}}</button>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="activePanel == 'imported'">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'impwallc.imported' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <p>{{'impwallc.imported-msg' | t}}</p>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button routerLink="/accounts" class="uk-button uk-button-secondary">{{'welcomec.view-accounts' | t}}</button>
      </div>
    </div>


  </div>
</div>
