<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>{{'impaddrc.title' | t}}</h2>

    <div class="uk-card uk-card-default uk-margin" *ngIf="activePanel == 'error'">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'impaddrc.bad-data' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <p>{{'impaddrc.bad-data-desc' | t}}</p>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="activePanel == 'import'">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'impaddrc.confirm-import' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <p class="uk-text-center">
          <span class="import-warning" *ngIf="conflictingEntries">
            {{ conflictingEntries }} {{'impaddrc.labels-exist-update' | t}}
          </span>
          <span class="import-warning" *ngIf="newEntries">
            {{ newEntries }} {{'impaddrc.labels-new' | t}}
          </span>
          <span class="import-warning" *ngIf="existingEntries">
            {{ existingEntries }} {{'impaddrc.labels-exist-same' | t}}
          </span>
        </p>

        <div uk-grid>
          <div class="uk-width-1-1">
            <ul class="uk-list uk-list-striped" style="margin-bottom: 0;">
              <li style="background: #fff; border-bottom: 0;">
                <div uk-grid style="color: #999; text-transform: uppercase; font-size: .875rem; font-weight: 400;">
                  <div class="uk-width-1-4">{{'impaddrc.new-label' | t}}</div>
                  <div class="uk-width-1-4">{{'impaddrc.current-label' | t}}</div>
                  <div class="uk-width-1-2 uk-text-truncate" style="padding-left: 0;">{{'account' | t}}</div>
                </div>
              </li>
            </ul>
            <ul class="uk-list uk-list-striped" style="margin-top: 0;">
              <li *ngFor="let entry of importData" [ngClass]="{ 'uk-text-success': !entry.originalName, 'uk-text-warning': entry.originalName && entry.originalName !== entry.name, 'uk-text-muted': entry.originalName == entry.name }">
                <div uk-grid>
                  <div class="uk-width-1-4 uk-text-truncate">
                    {{ entry.name }}
                  </div>
                  <div class="uk-width-1-4 uk-text-truncate">
                    {{ entry.originalName }}
                  </div>
                  <div class="uk-width-1-2 uk-text-truncate">
                    {{ entry.account }}
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="uk-card-footer">
        <div uk-grid>
          <div class="uk-width-1-2 uk-text-left">
            <button routerLink="/address-book" class="uk-button uk-button-danger">{{'cancel' | t}}</button>
          </div>
          <div class="uk-width-1-2 uk-text-right">
            <button (click)="confirmImport()" class="uk-button uk-button-secondary">{{'impaddrc.import' | t}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin" *ngIf="activePanel == 'imported'">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'impaddrc.imported' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <p>{{'impaddrc.imported-desc' | t}}</p>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button routerLink="/address-book" class="uk-button uk-button-secondary">{{'addrbookc.view-action' | t}}</button>
      </div>
    </div>

  </div>
</div>
