.body {
  background: #000;
}

.app {
  font-family: 'Lato', sans-serif;
  background: #212124;
  /*height: 100%;*/
}

.title-block {
  background: #39393D;
}

.title-block .title {
  font-size: 24px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3aac4a;
}
.title-block .title:hover {
  text-decoration: none;
}
.title-block .balance-text {
  display: block;
  font-size: 12px;
}

.title-block .balance {
  display: block;
  font-size: 18px;
  margin-top: -8px;
}

.left-nav {
  font-size: 18px;
}

.left-nav .active {
  color: #3aac4a;
}

.left-nav a {
  color: #cbcbcb;
}

.left-nav a:hover {
  color: #3aac4a;
}

.wallet-bar a {
  color: #fff;
}

.footer {
  color: #d4d5d5;
  font-size: 12px;
}

.footer a {
  color: #fff;
}

.footer-link {
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.5;
}
.footer-link:hover {
  opacity: 1;
}

.confirm-title {
  font-weight: bolder;
  display: block;
  font-size: 24px;
}

.confirm-currency {
  font-weight: bolder;
  display: block;
  font-size: 20px;
}

.confirm-subtitle {
  display: block;
  font-size: 10px;
}


@media (max-width: 12450px) {
  .content-container {
    padding-left: 15px;
    padding-right: 10px;
  }
}
@media (max-width: 639px) {
  .content-container {
    padding-left: 30px;
    padding-right: inherit;
  }
}
