<h2>{{'confwallc.title' | t}}</h2>
<p>{{'confwallc.help-top' | t}}</p>

<div *ngIf="wallet.seed && (activePanel != 3 && activePanel != 4 && activePanel != 5)" class="uk-alert uk-alert-danger">
  <b>{{'confwallc.msg-already-confd' | t}}</b><br>
  {{'confwallc.msg-backup' | t}}<br>
  <b>{{'confwallc.msg-backup2' | t}}<br></b>
</div>

<div uk-grid *ngIf="activePanel == 0 || activePanel == 1">
  <div class="uk-width-1-1">
    <div class="uk-button-group uk-width-1-1">
      <button (click)="setPanel(0)" class="uk-button uk-width-1-2" [ngClass]="{ 'uk-button-primary': activePanel == 0, 'uk-button-secondary': activePanel != 0 }">{{'confwallc.create-new' | t}}</button>
      <button (click)="setPanel(1)" class="uk-button uk-width-1-2" [ngClass]="{ 'uk-button-primary': activePanel == 1, 'uk-button-secondary': activePanel != 1 }">{{'confwallc.import' | t}}</button>
    </div>
  </div>
</div>

<div class="uk-card uk-card-default" *ngIf="activePanel == 0">
  <div class="uk-card-body">
    <p>
      {{'confwallc.msg-new-seed' | t}}
    </p>
    <div class="uk-alert-primary" uk-alert>
      <p>{{'confwallc.msg-backup-do' | t}}</p>
    </div>
  </div>
  <div class="uk-card-footer uk-text-right">
    <button class="uk-button uk-button-primary" (click)="createNewWallet()">{{'confwallc.create' | t}}</button>
  </div>
</div>

<div class="uk-card uk-card-default" *ngIf="activePanel == 1">
  <div class="uk-card-body">
    <p>{{'confwallc.msg-import' | t}}</p>
    <div uk-grid>
      <div class="uk-width-1-1">
        <div class="uk-form-horizontal">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">{{'confwallc.select-import-type' | t}}</label>
            <div class="uk-form-controls">
              <select class="uk-select" [(ngModel)]="selectedImportOption" id="form-horizontal-select">
                <option *ngFor="let option of importOptions" [value]="option.value">{{ 'confwallc.import-option-' + option.value | t}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="uk-divider-icon" style="margin-top: 10px;">

    <div uk-grid *ngIf="selectedImportOption === 'file'">
      <div class="uk-width-1-1">
        <p>{{'confwallc.msg-import-file' | t}}</p>
      </div>
    </div>
    <div uk-grid *ngIf="selectedImportOption === 'seed'" class="uk-margin-top">
      <div class="uk-width-1-1">
        <p>{{'confwallc.msg-seed' | t}}</p>
        <input type="text" class="uk-input" (keyup.enter)="importExistingWallet()" [(ngModel)]="importSeedModel" placeholder="{{'confwallc.seed-placeholder' | t}}">
      </div>
    </div>
    <div uk-grid *ngIf="selectedImportOption === 'mnemonic'" class="uk-margin-top">
      <div class="uk-width-1-1">
        <p>{{'confwallc.msg-mnemonic' | t}}</p>
        <textarea class="uk-textarea" rows="3" (keyup.enter)="importExistingWallet()" [(ngModel)]="importSeedMnemonicModel" placeholder="{{'confwallc.mnemonic-placeholder' | t}}"></textarea>
      </div>
    </div>
    <div uk-grid *ngIf="selectedImportOption === 'ledger'" class="uk-margin-top">
      <div class="uk-width-1-1">
        <p>
          Make sure you have the Nano app installed, then connect your ledger device via USB (Chrome/Opera only). <a href="http://blog.nanovault.io/guides/use-your-ledger-device-with-nanovault/" target="_blank">Learn More</a><br>
          <br>
        </p>
        <div *ngIf="ledger.status === ledgerStatus.NOT_CONNECTED" class="uk-alert uk-alert-warning">
          <b>Ledger Device Not Connected</b><br>
          Connect your ledger device via USB and make sure you have the Nano app installed, then press the button below to retry
        </div>
        <div *ngIf="ledger.status === ledgerStatus.LOCKED" class="uk-alert uk-alert-warning">
          <b>Ledger Device Locked</b><br>
          Unlock your Ledger device, then press the button below to retry
        </div>
        <div *ngIf="ledger.status === ledgerStatus.READY" class="uk-alert uk-alert-success">
          <b>Ledger Device Ready</b><br>
          Press the import button below to use your ledger wallet
        </div>
      </div>
    </div>
  </div>
  <div class="uk-card-footer uk-text-right">
    <div *ngIf="selectedImportOption === 'file'" class="js-upload" uk-form-custom style="display: inline-block;">
      <input type="file" id="import-from-file" (change)="importFromFile($event.target.files)" multiple>
      <button class="uk-button uk-button-primary" type="button" tabindex="-1">{{'confwallc.import-file' | t}}</button>
    </div>
    <button *ngIf="selectedImportOption === 'mnemonic'" class="uk-button uk-button-primary" (click)="importExistingWallet()">{{'confwallc.import-mnemonic' | t}}</button>
    <button *ngIf="selectedImportOption === 'seed'" class="uk-button uk-button-primary" (click)="importExistingWallet()">{{'confwallc.import-seed' | t}}</button>
    <button *ngIf="selectedImportOption === 'ledger' && ledger.status === ledgerStatus.READY" class="uk-button uk-button-primary" (click)="importLedgerWallet()">{{'confwallc.import-ledger' | t}}</button>
    <button *ngIf="selectedImportOption === 'ledger' && ledger.status !== ledgerStatus.READY" class="uk-button uk-button-primary" (click)="importLedgerWallet(true)">{{'confwallc.ledger-refresh' | t}}</button>
  </div>
</div>



<div class="uk-card uk-card-default" *ngIf="activePanel == 3">
  <div class="uk-card-header">
    <h3 class="uk-card-title">{{'confwallc.wallet-created' | t}}</h3>
  </div>
  <div class="uk-card-body">
    <p>{{'confwallc.msg-wallet-created' | t}}</p>
    <div class="uk-alert uk-alert-primary">
      {{'confwallc.msg-write-down' | t}}
      <br/>
      {{'confwallc.msg-write-down2' | t}}
    </div>
    <div uk-grid>
      <div class="uk-width-1-4">{{'confwallc.mnemonic' | t}}</div>
      <div class="uk-width-3-4">
        {{ newWalletMnemonic }}<br>
        <a title="{{'confwallc.mnemonic-copy' | t}}" ngxClipboard [cbContent]="newWalletMnemonic" (cbOnSuccess)="copied()" uk-tooltip>{{'confwallc.mnemonic-copy' | t}}</a>
      </div>
    </div>
    <div uk-grid>
      <div class="uk-width-1-4">{{'confwallc.seed' | t}}</div>
      <div class="uk-width-3-4 uk-text-truncate">
        {{ newWalletSeed }}<br>
        <a title="{{'confwallc.seed-copy' | t}}" ngxClipboard [cbContent]="newWalletSeed" (cbOnSuccess)="copied()" uk-tooltip>{{'confwallc.seed-copy' | t}}</a>
      </div>
    </div>
  </div>
  <div class="uk-card-footer">
    <button class="uk-button uk-button-danger" (click)="confirmNewSeed()">{{'confwallc.i-have-saved' | t}}</button>
  </div>
</div>

<div class="uk-card uk-card-default" *ngIf="activePanel == 4">
  <div class="uk-card-header">
    <h3 class="uk-card-title">{{'confwallc.pwd-set' | t}}</h3>
  </div>
  <div class="uk-card-body">
    <p>{{'confwallc.msg-pwd-set' | t}}</p>
    <p>{{'confwallc.msg-pwd-set2' | t}}</p>
    <div uk-grid>
      <div class="uk-width-1-2@m">
        <input type="password" class="uk-input" [(ngModel)]="walletPasswordModel" placeholder="{{'confwallc.pwd-new-placeholder' | t}}">
      </div>
      <div class="uk-width-1-2@m">
        <input type="password" class="uk-input" (keyup.enter)="saveWalletPassword()" [(ngModel)]="walletPasswordConfirmModel" placeholder="{{'confwallc.pwd-confirm-placeholder' | t}}">
      </div>
    </div>
  </div>
  <div class="uk-card-footer uk-text-right">
    <button class="uk-button uk-button-primary" (click)="saveWalletPassword()">{{'confwallc.pwd-set' | t}}</button>
  </div>
</div>

<div class="uk-card uk-card-default" *ngIf="activePanel == 5">
  <div class="uk-card-header">
    <h3 class="uk-card-title">{{'confwallc.wallet-configured' | t}}</h3>
  </div>
  <div class="uk-card-body">
    <p>{{'confwallc.msg-configured' | t}}</p>
  </div>
  <div class="uk-card-footer uk-text-right">
    <button routerLink="/accounts" class="uk-button uk-button-primary">{{'welcomec.view-accounts' | t}}</button>
  </div>
</div>

<div *ngIf="(activePanel == 4 || activePanel == 5) && !walletService.isLedgerWallet()" class="uk-alert-primary" uk-alert>
  <p>{{'confwallc.msg-pwd-lose' | t}}</p>
</div>
<div *ngIf="activePanel == 5 && walletService.isLedgerWallet()" class="uk-alert-primary" uk-alert>
  <p>{{'confwallc.msg-ledger-status' | t}}</p>
</div>
