<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <div uk-grid>
      <div class="uk-width-1-1">
        <h2>{{'recc.title' | t}}</h2>
      </div>
    </div>

    <div uk-grid>
      <div class="uk-width-1-1">
        <p>
          {{'recc.desc1' | t}}
          <br>
          {{'recc.desc2' | t}}
          <br>
          {{'recc.desc3' | t}}
        </p>
      </div>
    </div>

    <div uk-grid>
      <div class="uk-width-3-4@s">
        <select class="uk-select" [(ngModel)]="pendingAccountModel">
          <option [value]="0">{{'recc.opt-all-accounts' | t}}</option>
          <option *ngFor="let account of accounts" [value]="account.id">{{ account.id }}</option>
        </select>
      </div>
      <div class="uk-width-1-4@s">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="getPending(pendingAccountModel)">{{'recc.find-pending' | t}}</button>
      </div>
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default">
          <table class="uk-table uk-table-striped uk-table-small">
            <thead>
            <tr>
              <th>{{'accounts' | t}}</th>
              <th>{{'sender' | t}}</th>
              <th>{{'amount' | t}}</th>
              <th>{{'options' | t}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let block of pendingBlocks">
              <td class="uk-visible-toggle">
                <div uk-grid>
                  <div class="uk-width-expand uk-text-truncate">
                    <a [routerLink]="'/account/' + block.account" class="uk-link-text" title="{{'accdetc.action' | t}}" uk-tooltip>
                      {{ block.account }}
                    </a>
                  </div>
                  <div class="uk-width-auto" style="padding-left: 10px;">
                    <ul class="uk-hidden-hover uk-iconnav">
                      <li><a ngxClipboard [cbContent]="block.account" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="{{'account-copy' | t}}" uk-tooltip></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td class="uk-visible-toggle">
                <div uk-grid>
                  <div class="uk-width-expand uk-text-truncate">
                    <a [routerLink]="'/account/' + block.source" class="uk-link-text" title="{{'accdetc.action' | t}}" uk-tooltip>
                      {{ block.source }}
                    </a>
                  </div>
                  <div class="uk-width-auto" style="padding-left: 10px;">
                    <ul class="uk-hidden-hover uk-iconnav">
                      <li><a ngxClipboard [cbContent]="block.source" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="{{'account-copy' | t}}" uk-tooltip></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td>{{ block.amount | rai: settings.settings.displayDenomination }}</td>
              <td class="uk-text-nowrap">
                <button *ngIf="!block.loading" (click)="receivePending(block)" class="uk-button uk-button-secondary uk-button-small">{{'recc.butt-receive' | t}}</button>
                <button *ngIf="block.loading" class="uk-button uk-button-secondary uk-disabled uk-button-small"><span class="uk-margin-right" uk-spinner></span>{{'recc.butt-loading' | t}}</button>
              </td>
            </tr>
            <tr *ngIf="!pendingBlocks.length">
              <td colspan="4" style="text-align: center;">{{'recc.no-pending' | t}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>

