<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>{{'confappc.title' | t}}</h2>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'confappc.display.title' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">{{'language' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'language-service.change-language' | t}}"></span></label>
                <div class="uk-form-controls">
                  <select class="uk-select" [(ngModel)]="selectedLanguage" id="form-horizontal-select">
                    <option *ngFor="let lang of languages" [value]="lang">{{'lang.' + lang | t}} ({{lang}})</option>
                    <option [value]="null">{{'default' | t}}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">{{'confappc.display.fiat-name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.display.fiat-desc' | t}}"></span></label>
                <div class="uk-form-controls">
                  <select class="uk-select" [(ngModel)]="selectedCurrency" id="form-horizontal-select">
                    <option *ngFor="let currency of currencies" [value]="currency.value">{{ currency.name }}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">{{'confappc.display.denom-name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.display.denom-desc' | t}}"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedDenomination">
                      <option *ngFor="let denomination of denominations" [value]="denomination.value">{{ 'confappc.display.denom-opt.' + denomination.value | t }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="updateDisplaySettings()" class="uk-button uk-button-secondary">{{'confappc.display.update' | t}}</button>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'confappc.wallet.title' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">{{'confappc.wallet.lock-name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.wallet.lock-desc' | t}}"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedInactivityMinutes">
                      <option *ngFor="let option of inactivityOptions" [value]="option.value">{{ 'confappc.wallet.lock-opt.' + option.value.toString() | t }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">{{'confappc.wallet.store-name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.wallet.store-desc' | t}}"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedStorage">
                      <option *ngFor="let storage of storageOptions" [value]="storage.value">{{ 'confappc.wallet.store-opt.' + storage.value | t }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label">{{'confappc.wallet.pow-name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.wallet.pow-desc' | t}}"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <select class="uk-select" [(ngModel)]="selectedPoWOption">
                      <option *ngFor="let pow of powOptions" [value]="pow.value">{{ 'confappc.wallet.pow-opt.' + pow.value | t }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="updateWalletSettings()" class="uk-button uk-button-secondary">{{'confappc.wallet.update' | t}}</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'confappc.server.title' | t}}</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">{{'confappc.server.conf-name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.server.conf-desc' | t}}"></span></label>
                <div class="uk-form-controls">
                  <select class="uk-select" [(ngModel)]="selectedServer" id="form-horizontal-select" (change)="selectedServerChanged()">
                    <option *ngFor="let server of serverOptions" [value]="server.value">{{ server.name }}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">{{'confappc.server.server.name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.server.server.desc' | t}}"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                    <strong>{{serverAPI}}</strong>
                  </div>
                  <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                    <input [(ngModel)]="serverAPI" class="uk-input uk-margin-small-bottom" type="text" placeholder="https://wallet.mikron.io/api/node-api">
                    <span class="uk-text-meta">
                      {{'confappc.server.server.msg1' | t}}
                      <a href="https://github.com/mikroncoin/mikron-vault-server" target="_blank">{{'confappc.server.server.msg2' | t}}</a>
                      {{'confappc.server.server.msg3' | t}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">{{'confappc.server.node.name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.server.node.desc' | t}}"></span></label>
                <div class="uk-form-controls">

                  <div class="uk-inline uk-width-1-1">
                    <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                      <strong>{{serverNode}}</strong>
                    </div>

                    <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                      <input [(ngModel)]="serverNode" class="uk-input uk-margin-small-bottom" type="text" placeholder="http://127.0.0.1::7076">
                      <span class="uk-text-meta">
                        {{'confappc.server.node.msg1' | t}}
                        <a href="https://github.com/mikroncoin/mikron_node/wiki" target="_blank">{{'confappc.server.node.msg2' | t}}</a>
                        {{'confappc.server.node.msg3' | t}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <div class="uk-form-horizontal">
              <div class="">
                <label class="uk-form-label uk-text-right">{{'confappc.server.updates.name' | t}} <span uk-icon="icon: info;" uk-tooltip title="{{'confappc.server.updates.desc' | t}}"></span></label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1" *ngIf="!showServerConfigs()">
                    <strong>{{serverWS}}</strong>
                  </div>

                  <div class="uk-inline uk-width-1-1" *ngIf="showServerConfigs()">
                    <input [(ngModel)]="serverWS" class="uk-input uk-margin-small-bottom" id="form-horizontal-text2" type="text" placeholder="wss://wallet-wss.mikron.io/">
                    <span class="uk-text-meta">
                      {{'confappc.server.updates.msg1' | t}}
                      <a href="https://github.com/mikroncoin/mikron-vault-ws" target="_blank">{{'confappc.server.updates.msg2' | t}}</a>
                      {{'confappc.server.updates.msg3' | t}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right">
        <button (click)="updateServerSettings()" class="uk-button uk-button-secondary">{{'confappc.server.update' | t}}</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{'confappc.advanced.title' | t}}</h3>
      </div>
      <div class="uk-card-body uk-text-center">
        <div uk-grid>

          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearWorkCache()" uk-tooltip title="{{'confappc.advanced.work-desc' | t}}">{{'confappc.advanced.work-button' | t}}</button>
          </div>
          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearWalletData()" uk-tooltip title="{{'confappc.advanced.data-desc' | t}}">{{'confappc.advanced.data-button' | t}}</button>
          </div>
          <div class="uk-width-1-3@m">
            <button class="uk-button uk-button-danger" (click)="clearAllData()" uk-tooltip title="{{'confappc.advanced.all-desc' | t}}">{{'confappc.advanced.all-button' | t}}</button>
          </div>
        </div>
      </div>
      <!--<div class="uk-card-footer uk-text-right">-->
        <!--<button (click)="updateWalletSettings()" class="uk-button uk-button-secondary">Update Wallet Settings</button>-->
      <!--</div>-->
    </div>

  </div>
</div>
