<div uk-grid>
  <div class="uk-width-1-1 uk-animation-slide-left-small">
    <div uk-grid class="uk-text-center" style="margin-bottom: 60px;">
      <div class="uk-width-1-1" style="margin-top: 45px;">
        <img id="logo-welcome" src="/assets/img/bv-logo-alt.png">
        <span class="uk-text-lead">The "no strings attached" open source wallet for <a href="https://banano.cc" class="uk-link-text" target="_blank">Banano</a></span><br>
      </div>
      <div class="uk-width-1-1" *ngIf="!isConfigured()">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 0px;">
            <h3>To get started, choose an option below to configure your wallet</h3>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" class="uk-button uk-button-primary uk-button-large">Create A New Wallet</button>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" [queryParams]="{ import: 1}" class="uk-button uk-button-primary uk-button-large">Import An Existing Wallet</button>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1" *ngIf="isConfigured()">
        <div uk-grid>
        
          <div class="uk-width-1-1@m">
            <button routerLink="/accounts" class="uk-button uk-button-primary uk-button-large">View My Accounts</button>
          </div>
        </div>
      </div>
    </div>

    <section id="welcome-cards">

      <div class="card"> 
        <img src="/assets/img/shield.png" >
        <h3>Security Focused</h3>
        <p>All sensitive operations happen in your browser only - your seed and private keys are never sent across your network, or stored on any server in any format. (So there is no need for server-based authentication measures such as 2FA)</p>
      </div>

      <div class="card"> 
        <img src="/assets/img/wallet.png" >
        <h3>No Strings Attached</h3>
        <p>Because no information is ever stored on a server, there is no account to login to or email address required. Create as many wallets as you want and switch between them easily.</p>
      </div>

      <div class="card">
        <img src="/assets/img/planet-earth.png" > 
        <h3>Any Device, Anywhere</h3>
        <p>Send and receive Banano from any device using the web wallet, or <a href="https://github.com/bananocoin/bananovault/releases" target="_blank">download the desktop wallet</a> available for Windows/Mac/Linux.</p>
      </div>

      <div class="card"> 
        <img src="/assets/img/handshake.png" >
        <h3>Helpful Features</h3>
        <p>Store labels for your friends and your own accounts in the address book, track your balances in your local currency, and more!</p>
      </div>
    </section>

    <div uk-grid class="uk-margin-top">

      <div class="uk-width-1-1">

        <hr class="uk-divider-icon">

        <div class="uk-card uk-card-small uk-card-default uk-margin uk-width-1-1">
          <div class="uk-card-body uk-text-center">
            BananoVault is open source and all code is available at <a href="https://github.com/bananocoin/bananovault" target="_blank">https://github.com/bananocoin/bananovault</a>.<br>
            Please submit any feedback or bug reports on our GitHub page.  Thank you for using BananoVault!
          </div>
        </div>

        <div class="uk-width-1-1">
          <div class="uk-text-center uk-alert uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <strong>Don't have any Banano, but want to see how quick and easy it is to use?</strong><br>
            See our website <a href="https://banano.cc/" target="_blank">Banano.cc</a> for details on the next faucet event!
          </div>
        </div>

        <div class="uk-text-center uk-text-small uk-text-truncate">
          Donation Address: <a [routerLink]="'/send'" [queryParams]="{ to: donationAccount }">{{ donationAccount }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
