<div uk-grid>
  <div class="uk-width-1-1 uk-animation-slide-left-small">
    <div uk-grid class="uk-text-center" style="margin-bottom: 90px;">
      <div class="uk-width-1-1" style="margin-top: 45px;">
        <h2>{{'welcomec.title' | t}}</h2>
        <span class="uk-text-lead">{{'welcomec.subtitle1' | t}} <a href="https://mikron.io" class="uk-link-text" target="_blank">{{'mikron' | t}}</a> {{'welcomec.subtitle2' | t}}</span><br>
        <span class="uk-text-medium">{{'welcomec.based-on.text1' | t}} <a href="https://nanovault.io" class="uk-link-text" target="_blank">{{'welcomec.based-on.link-text' | t}}</a> {{'welcomec.based-on.text2' | t}}</span><br>
      </div>
      <div class="uk-width-1-1" *ngIf="!isConfigured()">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 60px;">
            <span class="uk-text-small">{{'welcomec.get-started' | t}}</span>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" class="uk-button uk-button-primary uk-button-large">{{'welcomec.create-new-wallet' | t}}</button>
          </div>
          <div class="uk-width-1-2@m">
            <button routerLink="/configure-wallet" [queryParams]="{ import: 1}" class="uk-button uk-button-primary uk-button-large">{{'welcomec.import-wallet' | t}}</button>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1" *ngIf="isConfigured()">
        <div uk-grid>
          <div class="uk-width-1-1" style="margin-top: 60px;">
            <span class="uk-text-small">{{'welcomec.wallet-configured' | t}}</span>
          </div>
          <div class="uk-width-1-1@m">
            <button routerLink="/accounts" class="uk-button uk-button-primary uk-button-large">{{'welcomec.view-accounts' | t}}</button>
          </div>
        </div>
      </div>
    </div>

    <div uk-grid class="uk-margin-top">

      <div class="uk-width-1-1@m">
        <div class="uk-card uk-card-default uk-card-small">
          <div class="uk-card-body">

            <ul uk-accordion="">
              <li class="uk-open">

                <a class="uk-accordion-title uk-link-text" href="#">{{'welcomec.ad.why-use' | t}}</a>
                <div class="uk-accordion-content">
                  <!--MikronWebWallet is an open source web wallet which makes it incredibly easy to send and receive <a href="https://mikron.io" target="_blank">Mikron</a> from anywhere in the world.<br>-->

                  <dl class="uk-description-list">
                    <dt>{{'welcomec.ad.t1' | t}}</dt>
                    <dd>{{'welcomec.ad.d1' | t}}</dd>
                    <dt>{{'welcomec.ad.t2' | t}}</dt>
                    <dd>{{'welcomec.ad.d2' | t}}</dd>
                    <dt>{{'welcomec.ad.t3' | t}}</dt>
                    <dd>{{'welcomec.ad.d3' | t}}</dd>
                    <dt>{{'welcomec.ad.t4' | t}}</dt>
                    <dd>{{'welcomec.ad.d4' | t}}</dd>
                  </dl>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1">

        <hr class="uk-divider-icon">

        <div class="uk-card uk-card-small uk-card-default uk-margin uk-width-1-1">
          <div class="uk-card-body uk-text-center">
            {{'welcomec.oss-github' | t}} <a href="https://github.com/mikroncoin/mikron-vault-web" target="_blank">https://github.com/mikroncoin/mikron-vault-web</a>.<br>
            {{'welcomec.feedback-github' | t}} {{'welcomec.thank-you' | t}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


